.component_box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 44px;
}

.container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.start_angle,
.end_angle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.2);
  background-color: transparent;
  cursor: pointer;
}

.start_angle {
  margin-right: 6px;
}

.end_angle {
  margin-left: 6px;
}

@media screen and (min-width: 768px) {
  .start_angle,
  .end_angle {
    width: 44px;
    height: 44px;
  }
}

.item_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .item_style {
    width: 44px;
    height: 44px;
    font-size: 18px;
  }
}

.breakClassName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.05);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .breakClassName {
    width: 44px;
    height: 44px;
    font-size: 20px;
  }
}

.previousClassName,
.nextClassName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.2);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .previousClassName,
  .nextClassName {
    width: 44px;
    height: 44px;
  }
}

.activeClassName {
  background-color: rgba(246, 184, 61, 1);
  color: #ffffff;
}

.disabledClassName {
  border: 1px solid rgba(38, 38, 38, 0.05);
}

.disabledLinkClassName {
  color: rgba(38, 38, 38, 0.5);
}

.previousLinkClassName,
.nextLinkClassName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
